@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container mt-5 py-5 text-center">
    <div class="mx-auto" style="max-width: 600px;">
        <h1 class="fw-bold text-primary mb-3">Identity Proje</h1>
       
       
    </div>
</div>
